
<div class="single-item-grid">
    <div class="image">
        <a href="/item"><img src="https://assets2.sunglasshut.com/cdn-record-files-pi/a999a47d-4189-41d0-bb4d-ac7c00f1ab63/224e2a43-441e-407a-9c3b-ac7f004f5c69/0PR_17WS__1AB5S0__STD__shad__qt.png?impolicy=SGH_bgtransparent&width=2048" alt="#"></a>
        <i class=" cross-badge lni lni-bolt"></i>
        <span class="flat-badge sale">Sale</span>
    </div>
    <div class="content">
        
        <h3 class="title">
            <a href="/item">Prada</a>
        </h3>
        
        <ul class="info">
            <li class="price">$580.00</li>
            <div class="button-group">
                <a href="/item" class="icon-link view-details-icon">
                  <i class="lni lni-eye"></i>
                </a>
                <a href="/cart" class="icon-link add-to-cart-icon">
                  <i class="lni lni-cart"></i>
                </a>
                <a href="/checkout" class="icon-link buy-now-icon">
                  <i class="lni lni-credit-cards"></i>
                </a>
              </div>
        </ul>
    </div>
</div>
