<section class="items-grid ">
    
            <div class="single-grid wow fadeInUp" data-wow-delay=".2s">
              <div class="image">
                <a href="/item" class="thumbnail">
                  <img src="https://assets2.sunglasshut.com/cdn-record-files-pi/4ef55db1-e75d-4d24-8cff-b16400ee36df/aec9ddb3-6947-4470-bdc3-b16400f6f896/0MK2231U__3015M5__P21__shad__qt.png" alt="#">
                </a>
                <div class="author">
                  <p class="sale">For Sale</p>
                </div>
              </div>
              <div class="content">
                <div class="top-content">
                  <h3 class="title">
                    <a href="/item">Michael Kors</a>
                  </h3>
                  <p class="update-time">Meet the Michael Kors St. Barths. Rose gold mirror polarized lenses pair beautifully with a clear frame for the ultimate expression of elegance. Only available at Sunglass Spot.</p>
                </div>
                <div class="bottom-content">
                  <p class="price"><span>$200.00</span></p>
                  <div class="button-group">
                    <a href="/item" class="icon-link view-details-icon">
                      <i class="lni lni-eye"></i>
                    </a>
                    <a href="/cart" class="icon-link add-to-cart-icon">
                      <i class="lni lni-cart"></i>
                    </a>
                    <a href="/checkout" class="icon-link buy-now-icon">
                      <i class="lni lni-credit-cards"></i>
                    </a>
                  </div>
                </div>
                
                
              </div>
            </div>
        
  </section>
  