<div class="cart-single-list">
    <div class="cart-image">
        
        <a href="/item">
            <img src="https://assets2.sunglasshut.com/cdn-record-files-pi/4ef55db1-e75d-4d24-8cff-b16400ee36df/aec9ddb3-6947-4470-bdc3-b16400f6f896/0MK2231U__3015M5__P21__shad__qt.png" alt="Sunglasses">
        </a>
    </div>
    <div class="product-details">
        <h5 class="product-name">
            <a href="/item">Michael Kors</a>
        </h5>
        <p class="product-des">
            <span><em>Color:</em> Black</span>
        </p>
    </div>
    <div class="quantity-info">
        
        <input type="number" min="1" value="1" id="quantity" />
        <p class="validation-message" style="display:none; color:red;">
            Please enter quantity of 1 or more…
        </p>
    </div>
    <div class="product-price">
        <p>$910.00</p>
    </div>
    <div class="remove-item-container">
        <a class="remove-item" href="javascript:void(0)">
            <i class="lni lni-close"></i>
        </a>
    </div>
</div>
